@using Domain.Entities
@using System
@model WebUI.ViewModels.Task.TaskViewModel

<form asp-action="AsignTask" method="post">
   
    <div class="ui centered segment text container">
        <div class="content" style="margin: 7px">
            <!--<a class="header">@Html.DisplayFor(model => Model.Name)</a>-->
            <div class="ui transparent input">
             
                <h3>@Html.EditorFor(x => x.Name, new { placeholder = Model.Name})</h3>
               
            </div>
                <a class="author">@Html.DisplayFor(x => Model.UserName)</a>

            </div>
        <div class="extra content" style="margin: 7px">
            <div class="ui left labeled input">
                <div class="ui label">
                    <i class="active star icon"></i>
                    
                    @Html.DisplayNameFor(x => x.Coins)
                </div>
                @*@Html.HiddenFor(x => x.Coins)*@
                @Html.EditorFor(x=>x.Coins,new { placeholder = "Coins" })
                @Html.HiddenFor(x=>x.UserId)
                @Html.HiddenFor(x=>x.AppTaskId)
                @Html.HiddenFor(x => x.Name)
            </div>
        </div>
        <div class="content"  style="margin: 7px">
            

            <div class="ui form">
                <div class="field">
                    @Html.TextAreaFor(m => m.Text)
                </div>
            </div>
        </div>

        <div class="content"  style="margin: 7px">
                   <div class="ui fluid icon input">
                        <i class="calendar icon"></i>
                       
                        @*@Html.HiddenFor(x => x.ExpireDt)*@
                       
                        <input id="expireDt" type="text" name="expireDt" value="@DateTime.Today.ToString()" validate="RequiredField">
                    </div>
               
                
        </div >
        <div class="extra content"  style="margin: 7px">
            @*<div class="fluid ui green button">Send Task*@
            @*<a class="fluid ui green button" href="@Url.Action("SubmitTask", "Task", new {taskId = Model.TaskId, userId = Model.UserId})">
                Submit
            </a>*@
            <input type="submit" class="fluid ui green button" value="Assign">
                
            
            @*</div>*@


        </div>

      

    </div>









</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    
}
