@using System.Security.Claims
@model AccountViewModel

<h3>Sidebar</h3>
<div class="ui secondary vertical pointing menu large">
    <div class="ui card">
        @if (User.IsInRole("Participant"))
        {
            <div class="image">
                <avatar class="avatar-wide" user-id="@Context.User.GetUserId()" alt="avatar" />
            </div>
        }
        <div class="content">
            <a class="header" href="@Url.Action("TaskList", "Task")">@Model.Name @Model.LastName</a>
        </div>
        @if (User.IsInRole("Participant"))
        {
            <div class="extra content">
                <a href="@Url.Action("AvatarList", "Marketplace")">
                    <i class="yellow database icon"></i>
                    @Model.Coins Coins
                </a>
            </div>
        }
        <div class="ui bottom attached indincating progress" id="percent" style="width: 20%">
            <div class="bar"></div>
        </div>
    </div>
    <a class="item" href="@Url.Action("Index", "Home")">
        <i class="large home icon"></i>
        Home
    </a>
    @if (User.IsInRole("Coach"))
            {
        <a class="item" href="@Url.Action("UserStatistics", "Task")">
            <i class="large bar chart icon"></i>
            Users' statistics
        </a>
    }
    <a class="item" href="@Url.Action("Index", "Appointments")">
        <i class="large calendar icon"></i>
        Meetings
    </a>
    <a class="item" href="@Url.Action("Index", "Manage")">
        <i class="large options icon"></i>
        Profile settings
    </a>
    @if (User.IsInRole("Participant"))
            {
        <a class="item" href="@Url.Action("AvatarList", "Marketplace")">
            <i class="large photo icon"></i>
            Select new avatars
        </a>
    }
    <div class="ui divider"></div>
</div>