@using Domain.Entities
@model WebUI.ViewModels.Task.TaskViewModel

<form asp-action="EditTask" method="post">
    @{
        string color = "";
        if (Model.TimeLeft >= 0) { color = "green"; }
        else
        {
            color = "red";
        }

    }


    <div class="ui centered card">
        <div class="content">
            <a class="header">@Html.DisplayFor(model => Model.Name)</a>
            <a class="author">@Html.DisplayFor(x => Model.UserName)</a>
            
        </div>
        <div class="extra conten">
            <div class="ui left labeled input">
                <div class="ui label">
                    <i class="active star icon"></i>
                    
                    @Html.DisplayNameFor(x => x.Coins)
                </div>
                @*@Html.HiddenFor(x => x.Coins)*@
                @Html.EditorFor(x=>x.Coins,new { placeholder = "Coins" })
                @Html.HiddenFor(x=>x.UserTaskId)


            </div>
        </div>
        <div class="content">
            

            <div class="ui form">
                <div class="field">


                    @Html.TextAreaFor(m => m.Text)
                </div>
            </div>
        </div>

        <div class="content">

            <div class="left floated">
                <span class="ui green horizontal label">
                    @Html.DisplayFor(x => Model.Status)
                </span>
            </div>
            <div class="right floated meta">
                <span class="date">
                    @Html.DisplayFor(model => model.ResolutionDate) 
                </span>
               
            </div>  
        </div>
        <div class="content">
            <div class="left floated">
                <span class="ui @color horizontal label">
                    Due Date
                </span>

            </div>
            <div class="right floated meta">
                <span class="date">
                    @Html.DisplayFor(model => model.ExpireDt)
                </span>
            </div>
            </div>
            <div class="extra conten">
                @*<div class="fluid ui green button">Send Task*@
                @*<a class="fluid ui green button" href="@Url.Action("SubmitTask", "Task", new {taskId = Model.TaskId, userId = Model.UserId})">
                    Submit
                </a>*@
                <div class="ui two buttons">
                    <input type="submit" name="command" value="Resent" class="negative ui button">
                    <div class=""></div>
                    <input type="submit" name="command" value="Aprove" class="positive ui button">
                </div>
                @*</div>*@


            </div>

            <div class="extra content">
                <div class="ui comments">
                    <div class="comment">

                        <div class="content">
                            <a class="author">Steve Jobes</a>
                            <div class="metadata">
                                <div class="date">2 days ago</div>
                            </div>
                            <div class="text">
                                Revolutionary!
                            </div>
                            <div class="actions">
                                <a class="reply active">Reply</a>
                            </div>
                            @*<form class="ui reply form">
                                <div class="field">
                                    <div class="ui medium icon input">
                                        <input type="text" placeholder="Comment...">

                                    </div>
                                </div>
                                <div class="ui primary submit labeled icon button">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>









</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
